div.screen.__reviews
	div.container
		div.row
			div.col-sm-12
				p “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris interdum velit vitae nulla molestie eu  
					br 
					| commodo nulla dapib us. Donec id sollicitudin urna. Integer at dui ac leo fermentum varius eleifend ut.”
				h3 Jane Hunt
				img(src="images/people.png")
				