*{margin:0;padding:0;}
@font-face {
	  font-family: 'fontello';
	  src: url('../font/fontello.eot?50573067');
	  src: url('../font/fontello.eot?50573067#iefix') format('embedded-opentype'),
		   url('../font/fontello.woff?50573067') format('woff'),
		   url('../font/fontello.ttf?50573067') format('truetype'),
		   url('../font/fontello.svg?50573067#fontello') format('svg');
	  font-weight: normal;
	  font-style: normal;
	}
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #34495e;
}
.data{
	position: relative;
	width: 1024px;
	margin: 0 auto;
	padding: 10px;
}
.data__title {
	color: rgba(255,255,255,.9);
	font-size: 45px;
	font-weight: 500;
	font-family: sans-serif;
	margin: 50px 0;
	text-align: center;
	text-transform: uppercase;
}
.data__result {
	position: absolute;
	top: 120px;
	left: 10px;
	padding: 15px 0 10px 10px;
	font-size: 12px;
	color: #d35400;
    font-family: "Times New Roman", serif;
    letter-spacing: 3px;
}
.data__input--value{
    padding: 10px;
    font-size: 16px;
	color:#292929;
    letter-spacing: 1px;
    outline: none;
    transition: all .3s ease;
}
.data__input--value::-webkit-input-placeholder       {line-height: 18px;  transition: all .3s ease;}
.data__input--value::-moz-placeholder                {line-height: 18px;  transition: all .3s ease;}
.data__input--value:-moz-placeholder                 {line-height: 18px;  transition: all .3s ease;}
.data__input--value:-ms-input-placeholder            {line-height: 18px;  transition: all .3s ease;}
.data__input--value:focus::-webkit-input-placeholder {line-height: 100px; transition: all .3s ease;}
.data__input--value:focus::-moz-placeholder          {line-height: 100px; transition: all .3s ease;}
.data__input--value:focus:-moz-placeholder           {line-height: 100px; transition: all .3s ease;}
.data__input--value:focus:-ms-input-placeholder      {line-height: 100px; transition: all .3s ease;}

.data__input--add {
	width: 85px;
    height: 42px;
    color: #ecf0f1;
    border: 1px solid #16a085;
    background: #16a085;
    font-size: 22px;
    line-height: 22px;
    outline: none;
    transition: all .3s ease;
    font-weight: 200;
    letter-spacing: 0.6px;
    position: absolute;
}
.data__input--add:hover, .data__input--add:focus {
	background: rgba(26, 188, 156,.4);
    cursor: pointer;
    border: 1px solid rgba(26, 188, 156,.6);
    color: rgba(236, 240, 241, 0.7);
}
.data__list{
	margin-top: 35px;
}
.data__list__item{
	position: relative;
	list-style: none;
	padding: 5px;
	padding-left: 0;
}
.item-edit {
	position: absolute;
	top: 10px;
	right: 0px;
	padding: 0 10px;
	visibility: hidden;
	color: rgba(80, 188, 224, 0.7);
}
.item-edit:hover {
	color: #50bce0;
	-webkit-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}
.data__new-value{
	width: 100%;
    height: 11em;
    resize: none;
}
.data__list__item:hover .item-edit {
	visibility: visible;
	-webkit-transition: -webkit-transform .2s;
	transition: -webkit-transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s;
}
.item-delete{
	position: absolute;
	top: -40px;
	right: -40px;
	padding: 25px;
	color: #ff9797;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	visibility: hidden;
}
.item-delete:hover{
	color: red;
	-webkit-transform: scale(1.5, 1.5);
	-ms-transform: scale(1.5, 1.5);
	transform: scale(1.5, 1.5);
}
.data__list__item:hover .item-delete {
	visibility: visible;
	-webkit-transition: -webkit-transform .2s;
	transition: -webkit-transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s;
}