body{
    background: #34495e;
}

.image-output {
    width: 150px;
    padding: 20px;
}

.output-items {
    list-style: none;
    font-family: Arial;
    font-size: 16px;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    float: left;
    margin: 10px;
    height: 200px;
     width: 250px;
}

.search-logo-position {
    margin-top: 200px;
    text-align: center;
}

.title-name {
    color:rgba(255,255,255,.9);
    font-size: 75px;
    font-weight: lighter;
    font-family: sans-serif;
}

.search-block {
    margin: 40px 0 60px 0;
    display: flex;
    -webkit-justify-content: center;
            justify-content: center;
}

.search-form {
    font-size: 20px;
}

.search-form__input {
    width: 600px;
    padding: 15px;
    display: block;
    margin: 0 0 40px 0;
    background: none;
    border: none;
    outline:none;
    border-bottom: 2px solid #d35400;
    font-size: 18px;
    color:#ecf0f1;
    opacity: .7;
    transition: all .3s ease;
}

.search-form__input:hover {
    opacity: 1;
}

.search-form__submit {
    width: 180px;
    height: 55px;
    color: #ecf0f1;
    border: 1px solid #16a085;
    background: #16a085;
    font-size: 22px;
    display: block;
    outline:none;
    float:right;
    transition: all .3s ease;
    font-weight: 200;
    letter-spacing: 0.6px;
}

.search-form__submit:hover {
    background: rgba(26, 188, 156,.3);
    cursor: pointer;
    border: 1px solid rgba(26, 188, 156,.6);
}

.out-results {
    transition: all .3s ease;
}

::selection {
  background: #16a085;
}

a:visited{
    color:rgba(255, 255, 255, 0.3);
}

a:hover{
    color:rgba(255, 255, 255, 0.8);
}

a{
    color:rgba(255, 255, 255, 0.6);
    font-weight: 100;
    font-size: 14px;
    font-family: sans-serif;
}
